@{
    ViewBag.Title = @Resources.Resource.AssetType;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel-body {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .panel-footer {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .panel-title {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .dt-button {
        display: none !important;
    }

    table.dataTable th.dt-center {
        font-size: 10pt !important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #BodyStyle {
        font-size: 10pt;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
<div class="panel card-view">
    <div class="panel-heading" style="background-color: #34495E">
        <div class="pull-left">
            <h6 class="panel-title txt-light" style="font-weight:bold">@Resources.Resource.AssetType</h6>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            @if (User.IsInRole("AddAssetType") || User.IsInRole("CoOwner"))
            {
                <a class="btn btn-primary btn-anim js-Pop" id="btnSave" href="/AssetType/AddNew"> <i class="fa fa-save"></i><span class="btn-text">@Resources.Resource.New</span></a>
            }
            @if (User.IsInRole("PrintAssetType") || User.IsInRole("CoOwner"))
            {
                <a class="btn btn-warning btn-anim" id="btnPrintExcel"> <i class="fa fa-file-excel-o"></i><span class="btn-text">@Resources.Resource.PrintExcel</span></a>
            }

            <button type="button" class="btn btn-anim btnFav" id="SaveToFav"><i class=" fa fa-star"></i><span class="btn-text">@Resources.Resource.AddToFav</span></button>
            <button type="button" class="btn btn-default btn-anim" id="CloseForm"> <i class="fa fa-times"></i><span class="btn-text">@Resources.Resource.Close</span></button>
        </div>
        <div class="col-lg-12" style="margin-top:10px;">

            <table id="tdataTable" class="table table-hover table-bordered mb-0" width="100%">
                <thead>
                    <tr>
                        <th>@Resources.Resource.Serial</th>
                        <th>@Resources.Resource.Name</th>
                        <th>@Resources.Resource.ConsRatio</th>
                        <th>@Resources.Resource.Modify</th>
                        <th>@Resources.Resource.Delete</th>
                    </tr>
                </thead>
                <tbody id="BodyStyle"></tbody>
            </table>
        </div>

    </div>
    <div class="panel-footer">

    </div>
</div>
<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
	$(document).ready(function () {
		$(document).on('click', '#SaveToFav', function () {

			bootbox.confirm({
				message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
				className: 'rubberBand animated',
				buttons: {
					confirm: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
						className: 'btn-success'
					},
					cancel: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
						className: 'btn-danger'
					}
				},
				callback: function (result) {
					if (result) {
						var dialog = bootbox.dialog({
							title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleaseWait...</h6>',
							message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
							closeButton: false
						});

						var dataToSave = {

							ScreenName: '@Resources.Resource.AssetType',
							ScreenUrl: "/AssetType/Index",

							ScreenType: 0

						};

						$.ajax({
							type: "POST",
							url: "/FavScreen/AddToFave",
							data: JSON.stringify(dataToSave),
							contentType: 'application/json',
							success: function (data) {

								dialog.modal('hide');
								if (data.Code == 0) {
									toastr.error(data.Msg);
								}
								else if (data.Code == 1) {
									toastr.success(data.Msg);
								}

							},
							error: function (data) {
								dialog.modal('hide');
								toastr.error(data);
							}

						});
					}
				}
			});
		});

		$(document).on('click', '#CloseForm', function () {
			window.location = "/AssetType/AssetDash";
		});

		$(document).on('click', '#SaveNewAssetType', function () {
			if ($("#Name").val() == '') {
				bootbox.alert({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleasefillalRequiredfields</h6>',
					className: 'rubberBand animated',
					buttons: {
						ok: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
							className: 'btn-primary'
						}
					}
				});

			}
			else {
				bootbox.confirm({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
					className: 'rubberBand animated',
					buttons: {
						confirm: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
							className: 'btn-success'
						},
						cancel: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
							className: 'btn-danger'
						}
					},
					callback: function (result) {
						if (result) {
							var dialog = bootbox.dialog({
								title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleaseWait...</h6>',
								message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
								closeButton: false
							});

							var dataToSave = {

								AssetTypeID: $("#AssetTypeID").val(),
								Name: $("#Name").val(),
								ConsRatio: $("#ConsRatio").val()

							};

							$.ajax({
								type: "POST",
								url: "/AssetType/SaveAssetType",
								data: JSON.stringify(dataToSave),
								contentType: 'application/json',
								success: function (data) {

									dialog.modal('hide');
									if (data.Code == 0) {
										toastr.error(data.Msg);
									}
									else if (data.Code == 1) {

										toastr.success(data.Msg);

										tabelMemRef.ajax.reload();

										document.getElementById("AssetTypeID").value = data.LastID;
										document.getElementById("Name").value = '';
										document.getElementById("ConsRatio").value = '0';

										$("#Name").focus();


									}

								},
								error: function (data) {
									dialog.modal('hide');
									toastr.error(data);
								}

							});
						}
					}
				});
			}

		});
		$(document).on('click', '#UpdateAssetType', function () {
			if ($("#Name").val() == '') {
				bootbox.alert({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleasefillalRequiredfields</h6>',
					className: 'rubberBand animated',
					buttons: {
						ok: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
							className: 'btn-primary'
						}
					}
				});

			}
			else {
				bootbox.confirm({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
					className: 'rubberBand animated',
					buttons: {
						confirm: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
							className: 'btn-success'
						},
						cancel: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
							className: 'btn-danger'
						}
					},
					callback: function (result) {
						if (result) {
							var dialog = bootbox.dialog({
								title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleaseWait...</h6>',
								message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Updating...</p>',
								closeButton: false
							});

							var dataToSave = {

								AssetTypeID: $("#AssetTypeID").val(),
								Name: $("#Name").val(),
								ConsRatio: $("#ConsRatio").val(),
								CompanyYear: $("#CompanyYear").val()
							};


							$.ajax({
								type: "POST",
								url: "/AssetType/UpdateAssetType",
								data: JSON.stringify(dataToSave),
								contentType: 'application/json',
								success: function (data) {

									dialog.modal('hide');
									if (data.Code == 0) {
										toastr.error(data.Msg);
									}
									else if (data.Code == 1) {

										toastr.success(data.Msg);

										tabelMemRef.ajax.reload();
										$('#modal-container').modal('hide');
										dialog.modal('hide');
										document.getElementById("Close").click();
									}

								},
								error: function (data) {
									dialog.modal('hide');
									toastr.error(data);
								}

							});


						}
					}
				});
			}
		});
		$(document).on('click', '#DeleteAssetType', function () {
			bootbox.confirm({
				message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
				className: 'rubberBand animated',
				buttons: {
					confirm: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
						className: 'btn-success'
					},
					cancel: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
						className: 'btn-danger'
					}
				},
				callback: function (result) {
					if (result) {
						var AssetType = $("#AssetTypeID").val();
						if (AssetType != null && AssetType != '') {
							$.getJSON('@Url.Action("CheckAssetTypeBeforDelete", "AssetType")', { id: AssetType }, function (Data) {
								if (Data != null) {
									var checkAssetType = Data;
									if (checkAssetType == 0) {
										var dialog = bootbox.dialog({
											title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleaseWait...</h6>',
											message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Deleting...</p>',
											closeButton: false
										});

										var dataToSave = {

											AssetTypeID: $("#AssetTypeID").val(),
											Name: $("#Name").val(),
											ConsRatio: $("#ConsRatio").val(),
                                            CompanyYear: $("#CompanyYear").val()
										};

										$.ajax({
											type: "POST",
											url: "/AssetType/DeleteAssetType",
											data: JSON.stringify(dataToSave),
											contentType: 'application/json',
											success: function (data) {

												dialog.modal('hide');
												if (data.Code == 0) {
													toastr.error(data.Msg);
												}
												else if (data.Code == 1) {
													$('#modal-container').modal('hide');
													toastr.success(data.Msg);

													tabelMemRef.ajax.reload();

												}

											},
											error: function (data) {
												dialog.modal('hide');
												toastr.error(data);
											}

										});
									}
									else {
										bootbox.alert({
											message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.MessageCantDelete</h6>',
											className: 'rubberBand animated',
											buttons: {
												ok: {
													label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
													className: 'btn-primary'
												}
											}
										});
									}
								};
							});
						}
						else {
						}
					}
				}
			});
		});
		var tabelMemRef = $("#tdataTable").DataTable({
			"language": {
				"emptyTable": '@Resources.Resource.EmptyTable',
				"search": '@Resources.Resource.Search',
				"loadingRecords": '@Resources.Resource.LoadingRecords',
				"processing": '@Resources.Resource.Processing',
				"zeroRecords": '@Resources.Resource.ZeroRecords',
				"info": '@Resources.Resource.Info',
				"infoEmpty": '@Resources.Resource.InfoEmpty',
				"lengthMenu": '@Resources.Resource.LengthMenu',
				"infoFiltered": '@Resources.Resource.InfoFiltered',
				"paginate": {
					"previous": '@Resources.Resource.Previous',
					"next": '@Resources.Resource.Next',
					"first": '@Resources.Resource.First',
					"last": '@Resources.Resource.Last',
				},
				"aria": {
					"sortAscending": '@Resources.Resource.SortAscending',
					"sortDescending": '@Resources.Resource.SortDescending'
				}
			},
			"scrollY": "500px",
			"scrollX": true,
			"ordering": false,
			"autoWidth": false,
			"paging": false,
			"columnDefs": [
				{
					"className": "dt-center",
					"targets": "_all",
					"orderable": false,
				}],

			dom: 'Bfrtip',
			buttons: [

				{
					messageTop: '@Resources.Resource.AssetType',
					extend: 'excelHtml5',
					exportOptions: {
						columns: [0, 1, 2]
					}
				}

			],

			ajax: {
				url: "/AssetType/GetAllAssetType",
				dataSrc: ""
			},
			columns: [
				{

					data: "AssetTypeID"
				},

				{
					data: "Name"

				},
				{
					data: "ConsRatio"

				}


				,
				{
					data: "AssetTypeID",
					render: function (data) {
						if ("@(User.IsInRole("UpdateAssetType") || User.IsInRole("CoOwner"))" == "True") {
							return "<a  class='btn btn-success btn-icon-anim btn-square js-Pop btn-sm' href='/AssetType/UpdateAssetType/" + data + "'><i class='fa fa-edit' style='margin-top: 4px;'></i> </a>";

						}
						else {
							return "";
						}



					}

				},
				{
					data: "AssetTypeID",
					render: function (data) {
						if ("@(User.IsInRole("DeleteAssetType") || User.IsInRole("CoOwner"))" == "True") {
							return "<a  class='btn  btn-icon-anim btn-square js-Pop btnDelete btn-sm' href='/AssetType/DeleteAssetType/" + data + "'><i class='fa fa-trash-o' style='margin-top: 4px;'></i></a>";

						}
						else {
							return "";
						}


					}

				}

			]


		});
		$('#tdataTable').on('click', '.modal-close-btn', function () {
			$('#modal-container').modal('hide');
		});
		$(document).on('click', '.js-Pop', function (e) {
			$('#modal-container').removeData('bs.modal');
			e.preventDefault();
			$(this).attr('data-target', '#modal-container');
			$(this).attr('data-toggle', 'modal');
		});
		$('#modal-container').on('hidden.bs.modal', function () {
			$(this).removeData('bs.modal');
		});
		$('#CancelModal').on('click', function () {

			return false;
		});

		$(document).on('click', '#btnPrintExcel', function () {

			var dialog = bootbox.dialog({
				title: '@Resources.Resource.PleaseWait',
				message: '<p><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Print...</p>',
				closeButton: false
			});


			var dataToSave = [];
			tabelMemRef.rows().every(function (rowIdx, tableLoop, rowLoop) {
				var data = this.data();
				dataToSave.push(data);


			});


			$.ajax({
				type: "POST",
				url: "/ExcelREport/CreateAssetTypeExcel",
				data: JSON.stringify(dataToSave),
				contentType: 'application/json',
				success: function (data) {
					dialog.modal('hide');


					window.location = '/ExcelReport/DownloadAssetTypeExcel?fileGuid=' + data.FileGuid;



				},
				error: function (data) {
					dialog.modal('hide');
					toastr.error(data);
				}

			});

			dialog.modal('hide');
			//$('#tdataTable').DataTable().ajax.reload();

		});


		if ("@(User.IsInRole("UpdateAssetType") || User.IsInRole("CoOwner"))" == "False") {
			var column = tabelMemRef.column(3);

			// Toggle the visibility
			column.visible(!column.visible());
		}

		if ("@(User.IsInRole("DeleteAssetType") || User.IsInRole("CoOwner"))" == "False") {
			var column = tabelMemRef.column(4);

			// Toggle the visibility
			column.visible(!column.visible());
		}

	});
    </script>
}



