@model Acc.Models.ChangePasswordViewModel
@{
    ViewBag.Title = @Resources.Resource.ChangePassword;
}

<style>
    .panel-body {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .panel-footer {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .panel-title {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
</style>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div style="padding-top:20px;">
        <div class="panel card-view">
            <div class="panel-heading" style="background-color: #34495E">
                <div class="pull-left">
                    <h6 class="panel-title txt-light" style="font-weight:bold">@Resources.Resource.ChangePassword</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "Please Fix The Foloing Error!")
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword) <span style="color:red">*</span>

                            @Html.PasswordFor(m => m.OldPassword, new { @id = "OldPassword", @class = "form-control input-sml" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword) <span style="color:red">*</span>

                            @Html.PasswordFor(m => m.NewPassword, new { @id = "NewPassword", @class = "form-control input-sml" })
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-3">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword) <span style="color:red">*</span>

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "ConfirmPassword", @class = "form-control input-sml" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-anim" id="changepassword"> <i class="fa fa-save"></i><span class="btn-text">@Resources.Resource.Save</span></button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        $("#OldPassword").focus().select();
        $("#OldPassword").keyup(function (event) {
            if (event.keyCode == 13)
                $("#NewPassword").focus().select();

        });
        $("#NewPassword").keyup(function (event) {
            if (event.keyCode == 13)
                $("#ConfirmPassword").focus().select();

        });
        $("#ConfirmPassword").keyup(function (event) {
            if (event.keyCode == 13)
                $("#OldPassword").focus().select();

        });
    });
</script>
}

