@model Acc.ViewModels.UserViewModel
@{
    ViewBag.Title = @Resources.Resource.ChangePassword;
}
<style>
    .modal-body {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .modal-footer {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .modal-title {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
</style>
@Html.HiddenFor(m => m.Id)
<script>

    $(document).ready(function () {

        $("#Password").focus().select();
        $("#Password").keyup(function (event) {
            if (event.keyCode == 13)
                $("#ConfirmPassword").focus().select();

        });
        $("#ConfirmPassword").keyup(function (event) {
            if (event.keyCode == 13)
                $("#Password").focus().select();

        });
    });
</script>
<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-sm ">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #34495E">
                <div class="pull-left">
                    <h6 class="modal-title txt-light" style="font-weight:bold">@Resources.Resource.ChangePassword</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary(true, "Please Fix The Foloing Error!")
                <div class="col-lg-12">

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)

                        @Html.TextBoxFor(m => m.Email, new { @id = "Email", @class = "form-control input-sml", @readonly = "readonly" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)<span style="color:red">*</span>

                        @Html.PasswordFor(m => m.Password, new { @id = "Password", @class = "form-control input-sml" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword) <span style="color:red">*</span>

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "ConfirmPassword", @class = "form-control input-sml" })
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success btn-anim" id="changepassword"> <i class="fa fa-save"></i><span class="btn-text">@Resources.Resource.Update</span></button>
                    <button type="button" class="btn btn-default btn-anim" data-dismiss="modal" id="Close"><i class="fa fa-times"></i><span class="btn-text">@Resources.Resource.Close</span></button>
                </div>
            </div>
        </div>
    </div>
</div>








