@{
    ViewBag.Title = @Resources.Resource.DescriptionsDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .panel-body {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .panel-footer {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .panel-title {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
    .dt-button {
        display: none !important;
    }
</style>

<div class="panel card-view">
    <div class="panel-heading" style="background-color: #34495E">
        <div class="pull-left">
            <h6 class="panel-title txt-light" style="font-weight:bold">@Resources.Resource.DescriptionsDetails</h6>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="col-lg-12">
            <a class="btn btn-primary btn-anim js-Pop" id="btnSave" href="/St_DescriptionDetail/Add"> <i class="fa fa-save"></i><span class="btn-text">@Resources.Resource.New</span></a>
            <a class="btn btn-warning btn-anim" id="btnPrintExcel"> <i class="fa fa-file-excel-o"></i><span class="btn-text">@Resources.Resource.PrintExcel</span></a>
            <button type="button" class="btn btn-default btn-anim" id="CloseForm"> <i class="fa fa-times"></i><span class="btn-text">@Resources.Resource.Close</span></button>
        </div>
        <div class="col-lg-12" style="margin-top:10px;">

            <table id="tdataTable" class="table table-hover table-bordered mb-0" width="100%">
                <thead>
                    <tr>
                        <th>@Resources.Resource.Serial</th>
                        <th>@Resources.Resource.DescriptionDetailName</th>
                        <th>@Resources.Resource.DescriptionName</th>
                        <th>@Resources.Resource.Modify</th>
                        <th>@Resources.Resource.Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
    <div class="panel-footer">

    </div>
</div>


<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
	$(document).ready(function () {
		$(document).on('click', '#CloseForm', function () {
            window.location = "/St_CompanySetting/Index";
		});
		$(document).on('click', '#btnPrintExcel', function () {
			$(".dt-button").click();
		});
		$(document).on('click', '#SaveSt_DescriptionDetail', function () {
			if ($("#ArabicName").val() == '') {
				bootbox.alert({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleasefillalRequiredfields</h6>',
					className: 'rubberBand animated',
					buttons: {
						ok: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
							className: 'btn-primary'
						}
					}
				});
			}
			else {
				bootbox.confirm({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
					className: 'rubberBand animated',
					buttons: {
						confirm: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
							className: 'btn-success'
						},
						cancel: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
							className: 'btn-danger'
						}
					},
					callback: function (result) {
						if (result) {
							var dialog = bootbox.dialog({
								title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleaseWait...</h6>',
								message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Saving...</p>',
								closeButton: false
							});

							var dataToSave = {
								DescriptionID: $("#DescriptionID").val(),
								ArabicName: $("#ArabicName").val(),
								EnglishName: $("#EnglishName").val()
							};
							$.ajax({
								type: "POST",
								url: "/St_DescriptionDetail/SaveSt_DescriptionDetail",
								data: JSON.stringify(dataToSave),
								contentType: 'application/json',
								success: function (data) {

									dialog.modal('hide');
									if (data.Code == 0) {
										toastr.error(data.Msg);
									}
									else if (data.Code == 1) {
										toastr.success(data.Msg);
										tabelMemRef.ajax.reload();
										document.getElementById("ArabicName").value = '';
										document.getElementById("EnglishName").value = '';
										document.getElementById("DescriptionID").selectedIndex = "0";
										var SelectedDescription = $("#DescriptionID").val();
										$.getJSON('@Url.Action("GetMax", "St_DescriptionDetail")', { id: SelectedDescription }, function (Data) {
											if (Data != null) {
												document.getElementById("DescriptionDetailID").value = Data;
											} else {
											};
										});
										$("#ArabicName").focus().select();
									}
								},
								error: function (data) {
									dialog.modal('hide');
									toastr.error(data);
								}
							});
						}
					}
				});
			}
		});
		$(document).on('click', '#UpdateSt_DescriptionDetail', function () {
			if ($("#ArabicName").val() == '') {
				bootbox.alert({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleasefillalRequiredfields</h6>',
					className: 'rubberBand animated',
					buttons: {
						ok: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
							className: 'btn-primary'
						}
					}
				});
			}
			else {
				bootbox.confirm({
					message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
					className: 'rubberBand animated',
					buttons: {
						confirm: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
							className: 'btn-success'
						},
						cancel: {
							label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
							className: 'btn-danger'
						}
					},
					callback: function (result) {
						if (result) {
							var dialog = bootbox.dialog({
								title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleaseWait...</h6>',
								message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Updating...</p>',
								closeButton: false
							});
							var dataToSave = {
								DescriptionDetailID: $("#DescriptionDetailID").val(),
								DescriptionID: $("#DescriptionID").val(),
								ArabicName: $("#ArabicName").val(),
								EnglishName: $("#EnglishName").val()
							};
							$.ajax({
								type: "POST",
								url: "/St_DescriptionDetail/UpdateSt_DescriptionDetail",
								data: JSON.stringify(dataToSave),
								contentType: 'application/json',
								success: function (data) {

									dialog.modal('hide');
									if (data.Code == 0) {
										toastr.error(data.Msg);
									}
									else if (data.Code == 1) {

										toastr.success(data.Msg);

										tabelMemRef.ajax.reload();
										$('#modal-container').modal('hide');
										document.getElementById("Close").click();
									}
								},
								error: function (data) {
									dialog.modal('hide');
									toastr.error(data);
								}

							});

						}
					}
				});
			}
		});
		$(document).on('click', '#DeleteSt_DescriptionDetail', function () {
			bootbox.confirm({
				message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.AreYouSure</h6>',
				className: 'rubberBand animated',
				buttons: {
					confirm: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Yes</span>',
						className: 'btn-success'
					},
					cancel: {
						label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.No</span>',
						className: 'btn-danger'
					}
				},
				callback: function (result) {
					if (result) {
						var DescriptionDetailID = $("#DescriptionDetailID").val();
                        var DescriptionID = $("#DescriptionID").val();
                        if (DescriptionDetailID != null && DescriptionDetailID != '') {
                            $.getJSON('@Url.Action("CheckSt_DescriptionDetailBeforDelete", "St_DescriptionDetail")', { id: DescriptionDetailID, id2: DescriptionID }, function (Data) {
								if (Data != null) {
                                    var checkDescriptionDetail = Data;
                                    if (checkDescriptionDetail == 0) {
										var dialog = bootbox.dialog({
											title: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.PleaseWait...</h6>',
											message: '<p style="font-family: Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-spin fa-spinner"></i> @Resources.Resource.Deleting...</p>',
											closeButton: false
										});

										var dataToSave = {

                                            DescriptionDetailID: $("#DescriptionDetailID").val(),
                                            DescriptionID: $("#DescriptionID").val()

										};

										$.ajax({
											type: "POST",
                                            url: "/St_DescriptionDetail/DeleteSt_DescriptionDetail",
											data: JSON.stringify(dataToSave),
											contentType: 'application/json',
											success: function (data) {

												dialog.modal('hide');
												if (data.Code == 0) {
													toastr.error(data.Msg);
												}
												else if (data.Code == 1) {
													$('#modal-container').modal('hide');
													toastr.success(data.Msg);

													tabelMemRef.ajax.reload();
													document.getElementById("Close").click();
												}

											},
											error: function (data) {
												dialog.modal('hide');
												toastr.error(data);
											}

										});
									}
									else {
										bootbox.alert({
											message: '<h6 style="font-family: Verdana, Geneva, Tahoma, sans-serif"> @Resources.Resource.MessageCantDeleteItem</h6>',
											className: 'rubberBand animated',
											buttons: {
												ok: {
													label: '<span style="font-family: Verdana, Geneva, Tahoma, sans-serif">@Resources.Resource.Ok</span>',
													className: 'btn-primary'
												}
											}
										});
									}
								};
							});
						}
						else {
						}
					}
				}
			});
		});
		var tabelMemRef = $("#tdataTable").DataTable({
			"language": {
				"emptyTable": '@Resources.Resource.EmptyTable',
				"search": '@Resources.Resource.Search',
				"loadingRecords": '@Resources.Resource.LoadingRecords',
				"processing": '@Resources.Resource.Processing',
				"zeroRecords": '@Resources.Resource.ZeroRecords',
				"info": '@Resources.Resource.Info',
				"infoEmpty": '@Resources.Resource.InfoEmpty',
				"lengthMenu": '@Resources.Resource.LengthMenu',
				"infoFiltered": '@Resources.Resource.InfoFiltered',
				"paginate": {
					"previous": '@Resources.Resource.Previous',
					"next": '@Resources.Resource.Next',
					"first": '@Resources.Resource.First',
					"last": '@Resources.Resource.Last',
				},
				"aria": {
					"sortAscending": '@Resources.Resource.SortAscending',
					"sortDescending": '@Resources.Resource.SortDescending'
				}
			},
			"scrollY": "500px",
			"scrollX": true,
			"ordering": false,
			"autoWidth": false,
			"paging": false,
			"columnDefs": [
				{ "width": "50px", "targets": 0, "className": "dt-center" },
				{ "targets": 1, "className": "dt-center" },
				{ "targets": 2, "className": "dt-center" },
				{ "width": "50px", "targets": 3, "className": "dt-center" },
				{ "width": "50px", "targets": 4, "className": "dt-center" }
			],
			dom: 'Bfrtip',
			buttons: [
				{
					messageTop: '@Resources.Resource.DescriptionsDetails',
					extend: 'excelHtml5',
					exportOptions: {
						columns: [0, 1, 2]
					}
				}

			],
			ajax: {
                url: "/St_DescriptionDetail/GetAllSt_DescriptionDetail",
				dataSrc: ""
			},
			columns: [
				{

                    data: "DescriptionDetailID"
				},

				{
                    data: "DescriptionDetailName"

				},
				{
                    data: "DescriptionName"

				},
				{
                    data: "DescriptionDetailID",
                    render: function (data, type, r) {
                        return "<a  class='btn btn-success btn-icon-anim btn-square js-Pop btn-sm' href='/St_DescriptionDetail/Update/" + data + "/" + r.DescriptionID + "'><i class='fa fa-edit' style='margin-top: 4px;'></i> </a>";
					}
				},
				{
                    data: "DescriptionDetailID",
                    render: function (data, type, r) {
                        return "<a  class='btn  btn-icon-anim btn-square js-Pop btnDelete btn-sm ' href='/St_DescriptionDetail/Delete/" + data + "/" + r.DescriptionID + "'><i class='fa fa-trash-o' style='margin-top: 4px;'></i></a>";
					}
				}
			]
		});
		$('#tdataTable').on('click', '.modal-close-btn', function () {
			$('#modal-container').modal('hide');
		});
		$(document).on('click', '.js-Pop', function (e) {
			$('#modal-container').removeData('bs.modal');
			e.preventDefault();
			$(this).attr('data-target', '#modal-container');
			$(this).attr('data-toggle', 'modal');

		});
		$('#modal-container').on('hidden.bs.modal', function () {
			$(this).removeData('bs.modal');

		});
		$('#CancelModal').on('click', function () {

			return false;
		});
	});
</script>
}





