@model Acc.ViewModels.ServiceVM
@{
    ViewBag.Title = @Resources.Resource.Delete;
}
<style>
    .modal-body {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .modal-footer {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    .modal-title {
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }
</style>
<script>
    var TheDecimalPointForTheLocalCurrency = document.getElementById("TheDecimalPointForTheLocalCurrency").value;
    var TheDecimalPointForTheForeignCurrency = document.getElementById("TheDecimalPointForTheForeignCurrency").value;
    function formatMoney(amount, decimalCount, decimal = ".", thousands = ",") {
        try {
            decimalCount = Math.abs(decimalCount);
            decimalCount = isNaN(decimalCount) ? decimalCount : decimalCount;

            const negativeSign = amount < 0 ? "-" : "";

            let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
            let j = (i.length > 3) ? i.length % 3 : 0;

            return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
        } catch (e) {
            console.log(e)
        }
    };
    document.getElementById("CostPrice").value = formatMoney(document.getElementById("CostPrice").value, TheDecimalPointForTheLocalCurrency);
    document.getElementById("SalePrice").value = formatMoney(document.getElementById("SalePrice").value, TheDecimalPointForTheLocalCurrency);
    document.getElementById("TaxPercentage").value = formatMoney(document.getElementById("TaxPercentage").value, TheDecimalPointForTheLocalCurrency);
</script>
<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #34495E">
                <div class="pull-left">
                    <h6 class="modal-title txt-light" style="font-weight:bold">@Resources.Resource.Delete</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-body">
                @Html.ValidationSummary(true, "Please Fix The Foloing Error!")
                <div class="col-lg-6">

                    <div class="form-group">
                        @Html.LabelFor(m => m.ServiceID)

                        @Html.TextBoxFor(m => m.ServiceID, new { @id = "ServiceID", @class = "form-control input-sml", @readonly = "readonly" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ServiceGroupID)
                        @if (Resources.Resource.CurLang == "Arb")
                        {
                            @Html.DropDownListFor(m => m.ServiceGroupID, new SelectList(Model.ServiceGroup, "ServiceGroupID", "ArabicName"),
                                                        Resources.Resource.ServiceGroup, new { @id = "ServiceGroupID", @class = "form-control input-sml", @disabled = "disabled" })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.ServiceGroupID, new SelectList(Model.ServiceGroup, "ServiceGroupID", "EnglishName"),
                                                        Resources.Resource.ServiceGroup, new { @id = "ServiceGroupID", @class = "form-control input-sml", @disabled = "disabled" })
                        }
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ArabicName)

                        @Html.TextBoxFor(m => m.ArabicName, new { @id = "ArabicName", @class = "form-control input-sml", @readonly = "readonly" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.EnglishName)

                        @Html.TextBoxFor(m => m.EnglishName, new { @id = "EnglishName", @class = "form-control input-sml", @readonly = "readonly" })
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Note)

                        @Html.TextBoxFor(m => m.Note, new { @id = "Note", @class = "form-control input-sml", @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CostPrice)

                        @Html.TextBoxFor(m => m.CostPrice, new { @id = "CostPrice", @class = "form-control input-sml",  @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SalePrice)

                        @Html.TextBoxFor(m => m.SalePrice, new { @id = "SalePrice", @class = "form-control input-sml",  @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TaxPercentage)

                        @Html.TextBoxFor(m => m.TaxPercentage, new { @id = "TaxPercentage", @class = "form-control input-sml", @readonly = "readonly" })
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-anim btnDelete-lg" id="DeleteService"> <i class="fa fa-trash-o"></i><span class="btn-text">@Resources.Resource.Delete</span></button>
                    <button type="button" class="btn btn-default btn-anim" data-dismiss="modal" id="Close"><i class="fa fa-times"></i><span class="btn-text">@Resources.Resource.Close</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.TextBoxFor(m => m.TheDecimalPointForTheLocalCurrency, new { @id = "TheDecimalPointForTheLocalCurrency", @style = "visibility : hidden;" })
@Html.TextBoxFor(m => m.TheDecimalPointForTheForeignCurrency, new { @id = "TheDecimalPointForTheForeignCurrency", @style = "visibility : hidden;" })




